body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    #display {
        font-size: 36px;
    }

    .btn {
        padding: 10px;
        font-size: 16px;
    }
}
